<!DOCTYPE html>
<html lang="ua" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>
	<p>Шановний #{firstName} #{lastName},</p>
	<br>
	<p>За Вашим запитом Вам було ствроено акаунт у системиі #{appName}.</p>
	<p>Дані для входу:</p>
	<div>
		<pre>ім&#39;я користувача (login): #{username}<br>пароль: #{password}
		</pre>
	</div>

	<p>Адреса системи в мережі - #{url}</p>
	<p>Рекомендуємо змінити свій пароль у налаштуваннях акаунту</p>
	<br>
	<br>
	<p>Команда підтримки системи #{appName}</p>
</body>

</html>